
  <h1><%= params[:name] %></h1>

  <ul>
      <li>Email: <%= @user[:email] %></li>
      <li>Interests: <%= @user[:interests].join(", ") %></li>
  </ul>

  <h2>Other users</h2>
  <ul>
    <% @user_names.each do |name| %>
      <% next if name.to_s == params[:name] %>
      <li> <a href="/<%=name %>"><%= name %></a></li>
    <% end %>
  </ul>
